@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Resets */
body {
	overflow: hidden;
}

button,
input {
	border: none;
	outline: none;
}

input[type='file'] {
	display: none;
}

input[type='range']::-webkit-slider-runnable-track {
	@apply bg-white bg-opacity-25 rounded;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	@apply w-10 h-10 rounded-lg bg-bloo;
}

img {
	@apply overflow-hidden whitespace-nowrap;
	text-indent: 100%;
}

input[type='button']::-moz-focus-inner,
.field {
	border: 0;
}

.emoji-mart-anchor-bar,
button.emoji-mart-emoji::before,
.emoji-mart-preview-shortnames,
.emoji-mart-preview-emoticons {
	@apply hidden;
}

button:disabled {
	@apply opacity-25 cursor-not-allowed;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.heading {
		@apply text-3xl font-bold text-black dark:text-white;
	}

	.hidden-children :not(.sidebar-toggle, .sidebar-toggle *) * {
		display: none;
	}

	.sidebar {
		@apply w-[20vw] 4xl:w-[17.5vw] 5xl:w-[15vw] transition-all duration-300;
		transition-property: width;
	}

	.btn {
		@apply p-2 duration-300 rounded-lg cursor-pointer select-none;
	}

	.field {
		@apply relative w-full px-4 py-2 rounded-lg focus:outline-none dark:bg-slate-lighter bg-eggshell-lighter focus:border-bloo dark:text-white;
		caret-color: #397aff;
	}

	.option {
		@apply px-5 py-2 bg-white bg-opacity-0 rounded-lg cursor-pointer select-none hover:bg-opacity-25;
	}

	.option--selected {
		@apply bg-opacity-25;
	}

	.placeholder {
		@apply duration-300 border-2 border-dashed border-bloo dark:bg-slate bg-eggshell;
	}

	/* ===== Scrollbar CSS ===== */
	.scrollbar::-webkit-scrollbar {
		width: 0.75rem;
		cursor: pointer;
	}

	.scrollbar::-webkit-scrollbar-track {
		@apply rounded bg-eggshell-light dark:bg-slate-lighter;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		@apply rounded bg-eggshell-dark dark:bg-slate-dark;
		min-height: 1rem;
	}
}

@layer utilities {
	.animate-floating {
		animation-name: floating;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		margin-left: 30px;
		margin-top: 5px;
	}

	.animate-gradient {
		animation: gradient 5s ease infinite;
	}

	.animate-hide {
		animation: hide 5s forwards;
	}

	.field-reset {
		@apply px-4 py-2 bg-transparent outline-none;
		caret-color: #397aff;
	}

	.flex-center {
		@apply flex items-center justify-center;
	}

	.grid-center {
		@apply grid place-items-center;
	}

	.scale:hover {
		transform: scale(1.1);
		transition: 0.3s;
		opacity: 1;
	}

	.text-shadow {
		text-shadow: 0 0.25rem 0.5rem black;
	}

	.word-break {
		word-break: break-word;
	}

	.skeleton {
		@apply text-transparent text-opacity-0 bg-white bg-opacity-25 rounded select-none animate-pulse;
	}

	.truncate-paragraph {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		word-break: break-word;
	}

	.flex-center {
		@apply flex items-center justify-center;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes floating {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, 10px);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes hide {
	0% {
		opacity: 1;
	}
	70% {
		opacity: 0.9;
	}
	80% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
	}
}

/* Change the chevron direction when an accordion is open. */
.Collapsible__trigger.is-open .bi-chevron-down {
	transform: rotateZ(180deg);
}

/* ===== Dark Mode Toggler ===== */
.dark-mode-toggle {
	@apply relative block w-10 h-6 mb-5 overflow-hidden transition duration-300 rounded-lg;
	border: 2px solid rgba(0, 0, 0, 0.25);
}

.dark .dark-mode-toggle {
	border: 2px solid rgba(255, 255, 255, 0.25);
}

.dark-mode-toggle:hover {
	border: 2px solid rgba(0, 0, 0, 1);
}

.dark .dark-mode-toggle:hover {
	border: 2px solid rgba(255, 255, 255, 1);
}

.dark-mode-toggle__slider {
	@apply absolute top-0 left-0 w-full h-full transition duration-300 cursor-pointer;
}

.dark-mode-toggle__slider::before {
	content: '☁️';
	@apply absolute left-0.5 w-3 h-3 transition duration-300 -translate-y-1/2 bg-[#FFC93A] rounded-full top-1/2 text-xs;
}

.dark-mode-toggle__slider::after {
	content: '';
	@apply absolute w-3 h-3 transition-transform duration-300 rounded-full top-0.5 dark:bg-slate-light bg-eggshell-light -left-3;
}

input:checked + .dark-mode-toggle__slider::before {
	content: '';
	@apply translate-x-5 bg-gray-500;
}

input:checked + .dark-mode-toggle__slider::after {
	content: '.˚\00a0.⋆';
	@apply text-sm text-yellow-400 translate-x-7;
}

/* ===== Emoji Mart ===== */
section.emoji-mart {
	@apply -mr-3 border-0 rounded-lg dark:text-white;
}

.emoji-mart .emoji-mart-anchors {
	@apply rounded-t-lg;
}

.emoji-mart-anchors,
.emoji-mart-preview {
	@apply bg-eggshell-light dark:bg-slate-light;
}

section.emoji-mart,
.emoji-mart .emoji-mart-search,
.emoji-mart-scroll,
.emoji-mart .emoji-mart-category-label span {
	@apply bg-eggshell dark:bg-slate;
}

.emoji-mart .emoji-mart-anchors {
	@apply p-2 border-0;
}

.emoji-mart-anchor-icon {
	@apply flex justify-center text-black dark:text-white;
	--tw-text-opacity: 0.5;
}

.emoji-mart .emoji-mart-anchor-selected {
	@apply mr-0 text-center rounded-lg dark:bg-slate bg-eggshell;
}

button.emoji-mart-emoji span:hover {
	@apply rounded cursor-pointer dark:bg-slate-light bg-eggshell-light ring-4 ring-eggshell-light dark:ring-slate-light;
}

.emoji-mart .emoji-mart-anchor-icon:hover {
	@apply text-opacity-100;
}

.emoji-mart-anchor-selected .emoji-mart-anchor-icon,
.emoji-mart .emoji-mart-anchor:active {
	@apply text-bloo dark:text-bloo;
}

.emoji-mart .emoji-mart-bar {
	border: none;
}

#emoji-mart-search-2 {
	@apply w-full field bg-eggshell-lighter dark:bg-slate-lighter dark:text-white;
}

.emoji-mart .emoji-mart-search-icon {
	display: none;
}

.emoji-mart .emoji-mart-category-label {
	@apply -translate-y-1; /* Fixes tiny gap between the search bar and the label. */
}

.emoji-mart .emoji-mart-category-label::after {
	@apply absolute right-0 w-full h-2.5 -bottom-2.5 from-eggshell dark:from-slate to-transparent bg-gradient-to-b;
	content: '';
}

.emoji-mart-scroll {
	@apply my-2 scrollbar;
}

.emoji-mart-preview {
	border: 0 !important;
}

.emoji-mart-preview::before {
	@apply absolute left-0 h-2.5 top-[-1.1rem] from-eggshell dark:from-slate to-transparent bg-gradient-to-t w-11/12 ml-1.5;
	content: '';
}

.emoji-mart .emoji-mart-title-label {
	@apply text-lg select-none;
}

.emoji-mart .emoji-mart-skin-swatches {
	background: none;
	border: 0;
}

.emoji-mart .emoji-mart-skin-swatches.opened {
	@apply p-2 rounded-sm z-[-2] relative bg-eggshell-lighter dark:bg-slate-lighter;
}

.emoji-mart .emoji-mart-skin {
	@apply rounded-sm;
}

.emoji-mart-skin-swatches.opened .emoji-mart-skin-swatch.selected::after {
	@apply w-4 h-4 m-0 -translate-x-1/2 -translate-y-1/2  rounded-sm top-1/2 left-1/2 z-[-1] absolute dark:bg-eggshell bg-slate;
	content: '';
	opacity: 1 !important;
}

.emoji-mart .emoji-mart-preview {
	@apply rounded-b-lg;
}
